*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}


nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:rgb(21, 26, 26);
  font-family: 'Cairo', sans-serif;
}

.logo{
  color:goldenrod;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo a{
text-decoration: none;
}
.nav-links{
  display: flex;

  justify-content: space-around;
  width: 50%;
  
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: goldenrod;
  text-decoration:none;
  letter-spacing: 2px;
  font-weight:bold;
  font-size:14px;
}
.nav-links a:hover{
  color: gold;
  text-decoration: underline;
}

.burgermenu{
  display: none;
  cursor: pointer;
}
.burgermenu div{
width: 25px;
height: 3px;
background-color: goldenrod;
margin: 5px;
transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
    z-index: 99;
      
  }
}
  
@media screen and (max-width:768px){
  body{
      overflow-x:hidden ;
  }
  .nav-links{
      position:absolute;
      right:0px;
      height:92vh;
      top: 8vh;
      background-color: rgb(21, 26, 26);
      display:flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition:transform 0.5s ease-in ;
      z-index: 99;
  }
  .nav-links li{
      opacity:0;
    
  }
  .burgermenu{
      display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
      opacity: 0;
      transformX: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
  
}

.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity:0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px); 
}

/*Iznad napisan css za navigaciju koja je isto tako prilagođena mobilnom pregledu */


.gladiatorgym{
background-image: url(img/Gladiator.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position:relative;

filter: blur(8px);
-webkit-filter: blur(8px);


height: 100vh;
width: 100%;
justify-content: center;
align-items: center;
min-height: 100vh;
}

main{

margin: 0;
padding: 0;
font-family: 'Cairo', sans-serif;
font-weight: 400;
line-height: 1.5;

text-transform: uppercase;
letter-spacing: 5px;

}

.banner{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color:goldenrod;
}
.banner h1{
position: relative;
top:25%;
left:35%;

font-size: 60px;
margin:0;
animation: animate 1.4s ease;

z-index: 1;
text-shadow: 0 0 80px goldenrod;

}



.banner h1 span{
color:goldenrod;
}

.banner h2{
position: relative;
top:38%;
left:35%;
color:goldenrod;
font-size: 18px;
width:50%;
line-height:30px;
animation: animate 2.1s ease;

}

@keyframes animate{
0%{
  transform:translateY(250px);
}
  
  100%{
    transform:translateY(0);
  }
}



.gumb {
position:absolute;
display: inline-flex;
width: 500px;
height: 55px;
margin: 0 15px;

top:140%;
left: 250px;
animation: animate 2.4s ease;



}

.gumb a{
font-size: 19px;
letter-spacing: 1px;
transform-style: preserve-3d;
transform: translateZ(-25px);
transition: transform .25s;
font-family: 'Cairo', sans-serif;
}

.gumb a:before,
.gumb a:after{
position: absolute;
content: "🔥 Učlani se još danas 🔥 ";
height: 70px;
width: 300px;
display:flex;
align-items: center;
justify-content: center;
border: 5px solid black;
box-sizing: border-box;
border-radius: 5px;

}
.gumb a:before{
color: #fff;
background: rgb(21, 26, 26);
transform: rotateY(0deg) translateZ(25px);

}
.gumb a:after{
color: rgb(21, 26, 26);
background: goldenrod;
transform: rotateX(90deg) translateZ(25px);
}
.gumb a:hover{
transform: translateZ(-25px) rotateX(-90deg);
}

/*Iznad napisan css za main naslovne strane*/

.footer-distributed {
  
  background-color: rgb(21, 26, 26);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-family: 'Cairo', sans-serif;

 position:relative;
 clear: both;



 

}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;

}


.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: goldenrod;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: goldenrod;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 50px;
  height: 10px;
 
  border-radius: 2px;
  font-size: 20px;
  color: goldenrod;
  text-align: center;
  line-height: 10px;
  margin-right: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

img{
  width: 100%;
  
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
 
}


/*Iznad napisan css za footer*/





.info{
background: url(img/GladiatorFitnessIcon.jpg) no-repeat left;
background-size: 55%;
background-color:rgb(21, 26, 26);
overflow: hidden;
padding: 100px 0;

text-transform:none;
letter-spacing: 2px;


}

.info image{
-webkit-animation: animate 2.1s ease;

animation: animate 2.1s ease;
}


.inner-container{
width: 55%;
float: right;
background-color:lightgrey;
padding: 150px;
color:darkgoldenrod;
-webkit-animation: animate 2.1s ease;

animation: animate 2.1s ease;

}
.inner-container h1{
margin-bottom: 30px;
font-size:30px ;
font-weight: 900;
text-transform:uppercase;
animation: cssAnimation 5s ease forwards;
opacity: 1;
-webkit-animation: animate 3.1s ease;

animation: animate 3.1s ease;

}

.text{
font-size:17px;
color:darkgoldenrod;
line-height: 30px;
text-align:left;
margin-bottom:40px;
animation: cssAnimation 2s ease forwards;
opacity: 1;
-webkit-animation: animate 3.7s ease;
font-weight: 600;
animation: animate 3.7s ease;
}

.social{
display: flex;
justify-content: space-between;
font-weight: 700;
font-size: 13px;
margin-top: 10px;
animation: cssAnimation 2s ease forwards;
opacity: 1;
-webkit-animation: animate 4.3s ease;

animation: animate 4.3s ease;
}




@keyframes cssAnimation {
from {
  opacity: 0;
}
to {
 opacity: 1;
}
}

@media screen and (max-width:1200px) {
.inner-container{
  padding: 80px;
}

}

@media screen and (max-width:1000px) {
.info{
  background-size: 100%;
  padding:100px 40px;
}
.inner-container{
  padding: 100%;
}

}

@media screen and (max-width:1000px) {
.info{
padding: 0;
}
.inner-container{
  padding: 0;
}

}

/* Iznad napisan CSS za treniraj kao gladiator tab */

.blog-section{
  width: 100%;
  background-color:rgb(21, 26, 26) ;
 
  margin: auto;
}

.blog-post_text{
font-weight: 600;
}
.section-content {
 
  margin:1px;
}

.button:hover{
  background-color:goldenrod ;
}
.title p{
  width: 60%;
  text-align: center;
 margin: auto;
  font-size: 18px;
  color:goldenrod;
  text-transform: uppercase;
  margin-top: 20px;
  animation:animate 1.4s ease;
 }

 .title h2{
  width: 60%;
  text-align: center;
  margin:auto;
  font-size: 40px;
  color:goldenrod;
  text-transform: uppercase;
  animation: animate 1.4s ease;
  
 }

 .cards{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 50px;
   margin:1px;
   animation: animate 2.1s ease;
 
   

   
 }

 .card{
   width:100%;
   background-color: lightgrey;
   position: relative;
   
   
 }

 .card img{
  width:100%;
  height:auto;
  
}

.article{
  padding: 15px 20px;
  
}

.article h4{
  font-size: 24px;
  color:goldenrod;
}

.article h4{
  font-size: 16px;
  color:goldenrod;
  margin:10px 0px;
}

.card a{
  text-decoration: none;
  display: inline-block;
  background-color: #8f9296;
  padding: 8px 15px;
  
  color:#fff;
  margin-bottom: 20px;
}

.posted-date p{
  
  position: relative;
 

  
  display: inline-flex;
  align-items:flex-start;
  justify-content: flex-start;
 
  padding:8px 15px;
}

@media screen and (max-width:992px){
  .cards{
    
    grid-template-columns: repeat(2,1fr);
   
  }
}
@media screen and (max-width:768px){
  .cards{
 
    grid-template-columns:1fr;
   
  }
}

/*Iznad napisan CSS za glavnu stranu novosti */

.n1info{
  background: url(littlenews/lnews1.jpg) no-repeat left;
  background-size: 55%;
  background-color:rgb(21, 26, 26);
  overflow: hidden;
  padding: 150px 0;
  
  text-transform:none;
  letter-spacing: 2px;
  
  
}

.n2info{
  background: url(littlenews/lnews2.jpg) no-repeat left;
  background-size: 55%;
  background-color:rgb(21, 26, 26);
  overflow: hidden;
  padding: 100px 0;
  
  text-transform:none;
  letter-spacing: 2px;
  
  
}

.n3info{
  background: url(littlenews/lnews3.jpg) no-repeat left;
  background-size: 55%;
  background-color:rgb(21, 26, 26);
  overflow: hidden;
  padding: 100px 0;
  
  text-transform:none;
  letter-spacing: 2px;
  
  
}

.n4info{
  background: url(littlenews/lnews4.jpg) no-repeat left;
  background-size: 55%;
  background-color:rgb(21, 26, 26);
  overflow: hidden;
  padding: 180px 0;
  
  text-transform:none;
  letter-spacing: 2px;
 
  
}

.n5info{
  background: url(littlenews/lnews5.jpg) no-repeat left;
  background-size: 55%;
  background-color:rgb(21, 26, 26);
  overflow: hidden;
  padding: 150px 0;
  
  text-transform:none;
  letter-spacing: 2px;
  
  
}

/* Iznad napisan CSS za "pod" novosti */


.container{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
  background:rgb(21, 26, 26) ;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 1500px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  animation: animate 1.4s ease;
}

.left{
   width: auto;
	height: auto;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: orange;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: orange;
	color: lightgrey;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: rgb(21, 26, 26);
}

.field:focus{
    border: 2px solid rgb(21, 26, 26);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/* Iznad napisan CSS za kontakt formu */


.ainfo{
  background: no-repeat left;
  background-size: 55%;
  background-color:rgb(21, 26, 26);
  overflow: hidden;
  padding: 100px 0;
  
  text-transform:none;
  letter-spacing: 2px;
  
  
  }
  
  .ainfo video{
  -webkit-animation: animate 2.1s ease;
  
  animation: animate 2.6s ease;
  margin-left: 5px;
  }
  
  
  .ainner-container{
  width: 45%;
  float: right;
  background-color:lightgrey;
  padding: 150px;
  color:darkgoldenrod;
  -webkit-animation: animate 2.1s ease;
 
  animation: animate 2.1s ease;
  
  }
  .ainner-container h1{
  margin-bottom: 30px;
  font-size:30px ;
  font-weight: 900;
  text-transform:uppercase;
  animation: cssAnimation 5s ease forwards;
  opacity: 1;
  -webkit-animation: animate 3.1s ease;
  
  animation: animate 3.1s ease;
  
  }
  
  .atext{
  font-size:17px;
  color:darkgoldenrod;
  line-height: 30px;
  text-align:left;
  margin-bottom:40px;
  animation: cssAnimation 2s ease forwards;
  opacity: 1;
  -webkit-animation: animate 3.7s ease;
  font-weight: 600;
  animation: animate 3.7s ease;
  }

  .btext{
    font-size:14px;
    color:grey;
    line-height: 30px;
    text-align:left;
    margin-bottom:40px;
    animation: cssAnimation 2s ease forwards;
    opacity: 1;
    -webkit-animation: animate 3.7s ease;
    font-weight: 600;
    animation: animate 3.7s ease;
    text-decoration: none;
    }
  
  
  
  
  @media screen and (max-width:1200px) {
  .ainner-container{
    padding: 80px;
  }
  
  }
  
  @media screen and (max-width:1000px) {
  .ainfo{
    background-size: 100%;
    padding:100px 40px;
  }
  .ainner-container{
    padding: 100%;
  }
  
  }
  
/* Iznad napisan CSS za "O nama" stranici*/



.gallery{
  background-color:rgb(21, 26, 26);
  
}

.titl{
  text-align: center;
  margin:auto;
  font-size: 40px;
  color:goldenrod;
  text-transform: uppercase;
  animation: animate 1.4s ease;
  font-family: 'Cairo', sans-serif;
  
}

.img-accordion {
  width: 90%;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  margin:auto;
  animation: animate 2.1s ease;

}

.accordion-item {
  height: 100%;
  flex: 1;
  border: 2px solid lightgrey;
  transform: skew(5deg);
  cursor: pointer;
  position: relative;
  transition: flex 0.3s;
}

.accordion-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accordion-item p {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Cairo', sans-serif;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  transform: rotate(-90deg);
  transform-origin: top left;
  transition: all 0.3s;
}

.accordion-item:hover p {
  transform: rotate(0);
  background-color:goldenrod;
}

.accordion-item:hover {
  flex: 4;
}

/*Iznad napisan CSS za stranicu "Galerija teretane"*/

.containerc{
  width: 100%;
  height: 100vh;
  font-family: 'Cairo', sans-serif;
  background-color: rgb(21, 26, 26);
  display:flex;
  align-items: center;
  justify-content: center;
}

.cardc{
  font-family: 'Cairo', sans-serif;
  width: 450px;
  height: 600px;
  box-shadow: 0 0 40px 20px rgb(0, 0, rgb(131, 91, 6));
  perspective: 1000px;
  animation: animate 1.4s ease;

}
.inner-box{
  position: relative;
  width: 100%;
  height: 100%;
transition: transform 1s;
  transform-style:preserve-3d ;

}

.card-front, .card-back{
position: absolute;
width:100%;
height: 100%;
background-position: center;
background-size: cover;
background-image: linear-gradient(rgb(78, 87, 87),rgba(68, 68, 99, 0.8)),url(img/hdgym.jpg);
/* filter za background sliku npr: linear-gradient(rgba(0,0,100,0.8),rgba(0,0,100,0.8)),*/
padding: 55px;
box-sizing: border-box;
font-family: 'Cairo', sans-serif;

backface-visibility: hidden;
}
 .card-back{
   transform: rotateY(180deg);
 }

 .cardc h2{
   font-weight: normal;
   font-size:24px ;
   text-align: center;
   margin-bottom:  20px;
   color: goldenrod;
 }

 .input-box{
   width: 100%;
   background:transparent;
   border: 4px solid goldenrod;
   margin: 6px 0;
   height: 32px;
   border-radius: 20px;
   padding: 0 10px;
   box-sizing: border-box;
   outline: none;
   text-align: center;
   color:white;
 }

 ::placeholder{
   color:slategray;
   font-size: 12px;
 }

 .btnc{
   width:100%;
   background: transparent;
   border: 1px solid goldenrod;
   margin: 35px 0 10px;
   height: 50px;
   font-size: 12px;
   border-radius: 20px;
   padding: 0 10px;
   box-sizing: border-box;
   outline: none;
   color:white;
   cursor: pointer;
   

 }
 .submit-btn{
  width:100%;
  background: transparent;
  border: 1px solid goldenrod;
  margin: 35px 0 10px;
  height: 35px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color:white;
  cursor: pointer;
  position: relative;
 }

 .submit-btn::after{
   content:'\27a4 ';
   color: #333;
   line-height:32px ;
   font-size: 17px;
   height: 35px;
   width:32px;
   border-radius: 50%;
   background: white;
   position: absolute;
   right: -1px;
   top: -1px;
 }

 span{
   font-size: 13px;

   color: honeydew;
 }

 .card.btnc{
   margin-top:70px;
 }

 .cardc a{
   color:white;
   text-decoration: none;
   display: block;
   text-align: center;
   font-size: 13px;
   margin-top:8px;
 }
 

 /* Iznad napisan CSS za prijavu/registraciju korisnika*/